@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@600&family=Poppins:wght@600&display=swap');
$fontFamily : 'Poppins';
$color: '#b3b1b1';
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    min-height: 80vh;
    background: url("../images/bg-bed.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
}
.header-nav {  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 10vh 10vw;
    height: 65px;
    width: 100vw;
    text-decoration: none;
    z-index: 100;
    .logo {   
        background: url("../../static/assets/logo.jpeg");
        width: 50px;
        height: 50px;
    }   
}

.nav-list {
    display: flex;
    list-style: none;
}
.nav-item{
    color: white ;  
    font-family: $fontFamily;
    text-transform: uppercase;
    font-size: 0.75em;
    margin-right: .2rem;
    padding: 2rem .5rem;
  
}

